name: Imad Test

on: push

jobs: 
    first_job:
            runs-on: ubuntu-latest
            steps:
            
            - name: Checkout Repo
              uses: actions/checkout@v5

            - name: Welcome message
              run: echo "Imado First Github Actions"
            
            - name: List files
              run: ls 
            
            - name: Read file
              run: cat README.md